.figures {
  width: 450px;
  background-image: url(../../materials/artwork14/0.svg);
}

#f1 {
  background-image: url(../../materials/artwork14/1.svg);
  left: 43px;
  top: 72px;
  width: 315px;
  height: 435px;
  z-index: 15;
}


#f2 {
  background-image: url(../../materials/artwork14/2.svg);
  left: 289px;
  top: 258px;
  width: 114px;
  height: 48px;
  z-index: 14;
}

#f3 {
  background-image: url(../../materials/artwork14/3.svg);
  left: 179px;
  top: 370px;
  width: 193px;
  height: 151px;
  z-index: 13;
}

#f4 {
  background-image: url(../../materials/artwork14/4.svg);
  left: 163px;
  top: 129px;
  width:25px;
  height: 25px;
  z-index: 12;
}

#f5 {
  background-image: url(../../materials/artwork14/5.svg);
  left: 365px;
  top: 471px;
  width: 20px;
  height: 64px;
  z-index: 11;
}

#f6 {
  background-image: url(../../materials/artwork14/6.svg);
  left: 376px;
  top: 387px;
  width: 45px;
  height: 131px;
  z-index: 10;
}

#f7 {
  background-image: url(../../materials/artwork14/7.svg);
  left: 372px;
  top: 366px;
  width: 46px;
  height: 178px;
  z-index: 9;
}

#f8 {
  background-image: url(../../materials/artwork14/8.svg);
  left: 123px;
  top: 208px;
  width: 223px;
  height: 194px;
  z-index: 8;
}

#f9 {
  background-image: url(../../materials/artwork14/9.svg);
  left: 86px;
  top: 441px;
  width: 163px;
  height: 87px;
  z-index: 7;
}

#f10 {
  background-image: url(../../materials/artwork14/10.svg);
  left: 190px;
  top: 38px;
  width: 91px;
  height: 47px;
  z-index: 6;
}

#f11 {
  background-image: url(../../materials/artwork14/11.svg);
  left: 165px;
  top: 42px;
  width: 91px;
  height: 52px;
  z-index: 5;
}

#f12 {
  background-image: url(../../materials/artwork14/12.svg);
  left: 28px;
  top: 42px;
  width: 191px;
  height:112px;
  z-index: 4;
}

#f13 {
  background-image: url(../../materials/artwork14/13.svg);
  left: 149px;
  top: 29px;
  width: 55px;
  height: 38px;
  z-index: 3;
}

#f14 {
  background-image: url(../../materials/artwork14/14.svg);
  left: 71px;
  top: 140px;
  width: 252px;
  height: 285px;
  z-index: 2;
}

#f15 {
  background-image: url(../../materials/artwork14/15.svg);
  left: 143px;
  top: 124px;
  width: 182px;
  height: 365px;
  z-index: 1;
}
