.figures {
  width: 518px;
  background-image: url(../materials/artwork4/0.svg);
}

#f1 {
  background-image: url(../materials/artwork4/1.svg);
  left: 2px;
  top: 379px;
  width: 73px;
  height: 73px;
  z-index: 15;
}


#f2 {
  background-image: url(../materials/artwork4/2.svg);
  left: 15px;
  top: 202px;
  width: 219px;
  height: 217px;
  z-index: 14;
}

#f3 {
  background-image: url(../materials/artwork4/3.svg);
  left: 187px;
  top: 57px;
  width: 83px;
  height: 78px;
  z-index: 13;
}

#f4 {
  background-image: url(../materials/artwork4/4.svg);
  left: 315px;
  top: 3px;
  width: 84px;
  height: 192px;
  z-index: 12;
}

#f5 {
  background-image: url(../materials/artwork4/5.svg);
  left: 427px;
  top: 30px;
  width: 80px;
  height: 85px;
  z-index: 11;
}

#f6 {
  background-image: url(../materials/artwork4/6.svg);
  left: 316px;
  top: 281px;
  width: 36px;
  height: 38px;
  z-index: 10;
}

#f7 {
  background-image: url(../materials/artwork4/7.svg);
  left: 341px;
  top:201px;
  width: 151px;
  height: 346px;
  z-index: 9;
}

#f8 {
  background-image: url(../materials/artwork4/8.svg);
  left: 435px;
  top: 529px;
  width: 57px;
  height: 56px;
  z-index: 8;
}

#f9 {
  background-image: url(../materials/artwork4/9.svg);
  left: 228px;
  top: 480px;
  width: 94px;
  height: 86px;
  z-index: 7;
}

#f10 {
  background-image: url(../materials/artwork4/10.svg);
  left: 8px;
  top: 535px;
  width: 79px;
  height: 43px;
  z-index: 6;
}

#f11 {
  background-image: url(../materials/artwork4/11.svg);
  left: 78px;
  top: 407px;
  width: 132px;
  height: 183px;
  z-index: 5;
}

#f12 {
  background-image: url(../materials/artwork4/12.svg);
  left: 242px;
  top: 316px;
  width: 65px;
  height: 130px;
  z-index: 4;
}

#f13 {
  background-image: url(../materials/artwork4/13.svg);
  left: 205px;
  top: 168px;
  width: 144px;
  height: 141px;
  z-index: 3;
}

#f14 {
  background-image: url(../materials/artwork4/14.svg);
  left: 33px;
  top: 14px;
  width: 126px;
  height: 168px;
  z-index: 2;
}
