.figures {
  width: 380px;
  background-image: url(../../materials/artwork16/0.svg);
}

#f1 {
  background-image: url(../../materials/artwork16/1.svg);
  left: 87px;
  top: 168px;
  width: 255px;
  height: 268px;
  z-index: 2;
}

#f2 {
  background-image: url(../../materials/artwork16/2.svg);
  left: 60px;
  top: 101px;
  width: 211px;
  height: 385px;
  z-index: 1;
}
