.menubar {
  width: 100vw;
  height: 66px;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 26px 24px;
  z-index: 9999999;
}

.menubar a {
  font-family: T-StarPro-Medium;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  line-height: 14px;
}

.menubar a:hover {
  text-decoration: underline;
}

.menubar > div {
  min-width: 32px;
}

.menubar .logo {
  font-family: T-StarPro-Bold;
  font-size: 24px;
  color: #000000;
  letter-spacing: 4px;
}

.toPics {
  width: 16px;
  height: 16px;
  margin-top: -1px;
  background-image: url(../../materials/arrow4.svg);
  background-size: cover;
}

.about {
  /* width: 20px; */
  height: 20px;
  /* margin-top: -3px; */
  /* background-image: url(../../materials/i.svg); */
  /* background-size: cover; */
}

.menubarMobile {
  display: none;
}

@media (max-width: 414px) {
  .menubar {
    padding: 26px 20px;
  }

  .menubarMobile {
    display: block;
  }

  .menubarDesktop {
    display: none;
  }

  .logo {
    /* margin-top: 1px; */
    height: 20px;
  }
}
