.figures {
  width: 487px;
  background-image: url(../../materials/artwork13/3.svg);
}

#f1 {
  background-image: url(../../materials/artwork13/2.svg);
  left: 164px;
  top: 78px;
  width: 294px;
  height: 447px;
  z-index: 5;
}


#f2 {
  background-image: url(../../materials/artwork13/1.svg);
  left: 45px;
  top:232px;
  width: 285px;
  height: 293px;
  z-index: 6;
}
