.figcaption {
  /* width: 270px; */
}

.figures {
  width: 388px;
  background-image: url(../../materials/artwork11/0.svg);
}

#f1 {
  background-image: url(../../materials/artwork11/1.svg);
  left: 48px;
  top: 116px;
  width: 240px;
  height: 136px;
  z-index: 5;
}


#f2 {
  background-image: url(../../materials/artwork11/2.svg);
  left: 43px;
  top: 223px;
  width: 254px;
  height: 151px;
  z-index: 4;
}

#f3 {
  background-image: url(../../materials/artwork11/3.svg);
  left: 38px;
  top: 106px;
  width: 237px;
  height: 435px;
  z-index: 3;
}

#f4 {
  background-image: url(../../materials/artwork11/4.svg);
  left: 6px;
  top: 406px;
  width: 234px;
  height: 153px;
  z-index: 2;
}

#f5 {
  background-image: url(../../materials/artwork11/5.svg);
  left: 159px;
  top: 19px;
  width: 189px;
  height: 201px;
  z-index: 1;
}
