.figures {
  width: 600px;
  height: 600px;
  background-image: url(../materials/artwork6/0.svg);
}

#f1 {
  background-image: url(../materials/artwork6/1.svg);
  left: 139px;
  top: 222px;
  width: 98px;
  height: 94px;
  z-index: 15;
}


#f2 {
  background-image: url(../materials/artwork6/2.svg);
  left: 92px;
  top: 129px;
  width: 187px;
  height: 168px;
  z-index: 14;
}

#f3 {
  background-image: url(../materials/artwork6/3.svg);
  left: 323px;
  top: 227px;
  width: 144px;
  height: 127px;
  z-index: 13;
}

#f4 {
  background-image: url(../materials/artwork6/4.svg);
  left: 149px;
  top: 212px;
  width: 229px;
  height: 184px;
  z-index: 12;
}

#f5 {
  background-image: url(../materials/artwork6/5.svg);
  left: 136px;
  top: 84px;
  width: 107px;
  height: 106px;
  z-index: 11;
}

#f6 {
  background-image: url(../materials/artwork6/6.svg);
  left: 284px;
  top: 384px;
  width: 182px;
  height: 180px;
  z-index: 10;
}
