.figcaption {
  /* width: 380px; */
}

.figures {
  width: 509px;
  background-image: url(../../materials/artwork7/0.svg);
}

#f1 {
  background-image: url(../../materials/artwork7/1.svg);
  left: 146px;
  top: 99px;
  width: 63px;
  height: 14px;
  z-index: 1;
}


#f2 {
  background-image: url(../../materials/artwork7/2.svg);
  left: 177px;
  top: 110px;
  width: 260px;
  height: 39px;
  z-index: 2;
}

#f3 {
  background-image: url(../../materials/artwork7/3.svg);
  left: 133px;
  top: 70px;
  width: 179px;
  height: 197px;
  z-index: 3;
}

#f4 {
  background-image: url(../../materials/artwork7/4.svg);
  left: 230px;
  top: 161px;
  width: 69px;
  height: 80px;
  z-index: 4;
}

#f5 {
  background-image: url(../../materials/artwork7/5.svg);
  left: 272px;
  top: 179px;
  width: 68px;
  height: 70px;
  z-index: 5;
}

#f6 {
  background-image: url(../../materials/artwork7/6.svg);
  left: 274px;
  top: 252px;
  width: 39px;
  height: 36px;
  z-index: 6;
}

#f7 {
  background-image: url(../../materials/artwork7/7.svg);
  left: 98px;
  top: 244px;
  width: 90px;
  height: 93px;
  z-index: 7;
}

#f8 {
  background-image: url(../../materials/artwork7/8.svg);
  left: 71px;
  top: 323px;
  width: 56px;
  height: 52px;
  z-index: 8;
}

#f9 {
  background-image: url(../../materials/artwork7/9.svg);
  left: 106px;
  top: 245px;
  width: 240px;
  height: 263px;
  z-index: 9;
}

#f10 {
  background-image: url(../../materials/artwork7/10.svg);
  left: 241px;
  top: 377px;
  width: 140px;
  height: 160px;
  z-index: 10;
}

#f11 {
  background-image: url(../../materials/artwork7/11.svg);
  left: 335px;
  top: 454px;
  width: 86px;
  height: 87px;
  z-index: 11;
}

#f12 {
  background-image: url(../../materials/artwork7/12.svg);
  left: 359px;
  top: 348px;
  width: 61px;
  height: 46px;
  z-index: 12;
}

#f13 {
  background-image: url(../../materials/artwork7/13.svg);
  left: 68px;
  top: 459px;
  width: 113px;
  height: 74px;
  z-index: 13;
}
