.figures {
  width: 518px;
  background-image: url(../materials/artwork6/0.svg);
}

.f1 {
  background-image: url(../materials/artwork6/1.svg);
  left: 111px;
  top: 176px;
  width: 78px;
  height: 75px;
  z-index: 15;
}


.f2 {
  background-image: url(../materials/artwork6/2.svg);
  left: 73px;
  top: 102px;
  width: 149px;
  height: 133px;
  z-index: 14;
}

.f3 {
  background-image: url(../materials/artwork6/3.svg);
  left: 257px;
  top: 180px;
  width: 115px;
  height: 101px;
  z-index: 13;
}

.f4 {
  background-image: url(../materials/artwork6/4.svg);
  left: 119px;
  top: 168px;
  width: 182px;
  height: 146px;
  z-index: 12;
}

.f5 {
  background-image: url(../materials/artwork6/5.svg);
  left: 108px;
  top: 67px;
  width: 85px;
  height: 84px;
  z-index: 11;
}

.f6 {
  background-image: url(../materials/artwork6/6.svg);
  left: 225px;
  top: 303px;
  width: 142px;
  height: 140px;
  z-index: 10;
}
