.figures {
  width: 388px;
  background-image: url(../materials/artwork1/0.svg);
}

#f1 {
  background-image: url(../materials/artwork1/1.svg);
  left: 104px;
  top: 5px;
  width: 205px;
  height: 180px;
  z-index: 13;
}


#f2 {
  background-image: url(../materials/artwork1/2.svg);
  left: 82px;
  top: 396px;
  width: 72px;
  height: 71px;
  z-index: 12;
}

#f3 {
  background-image: url(../materials/artwork1/3.svg);
  left: 123px;
  top: 470px;
  width: 70px;
  height: 61px;
  z-index: 11;
}

#f4 {
  background-image: url(../materials/artwork1/4.svg);
  left: 176px;
  top: 508px;
  width: 43px;
  height: 23px;
  z-index: 10;
}

#f5 {
  background-image: url(../materials/artwork1/5.svg);
  left: 206px;
  top: 530px;
  width: 59px;
  height: 10px;
  z-index: 9;
}

#f6 {
  background-image: url(../materials/artwork1/6.svg);
  left: 59px;
  top: 419px;
  width: 253px;
  height: 41px;
  z-index: 8;
}

#f7 {
  background-image: url(../materials/artwork1/7.svg);
  left: 177px;
  top: 339px;
  width: 84px;
  height: 120px;
  z-index: 7;
}

#f8 {
  background-image: url(../materials/artwork1/8.svg);
  left: 216px;
  top: 539px;
  width: 21px;
  height: 22px;
  z-index: 6;
}

#y1915c {
  background-color: #000000;
}

#y1915s::before {
  color: #000000;
  /*text-decoration: underline;*/
}
