* {
  box-sizing:border-box;
  transition: .5s;
}

body {
  /*background-color: #FAFAFA;*/
  overflow: hidden;
}

.main {
  position: absolute;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bg {
  display: block;
  position: relative;
}

.figures {
  position: relative;
  overflow: hidden;
  height: 600px;
  margin-right: 50px;
  box-shadow: 0 5px 15px -5px #636363;
  z-index: 999999;
  display: block;
}

.rectangle {
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.figcaption {
  width: 360px;
  height: auto;
  display: block;
  z-index: 999999;
  position: relative;
}

.figcaption>h1 {
  font-family: T-StarPro-Bold;
  font-size: 36px;
  line-height: 34px;
  text-indent: -16px;
}

.figcaption>h2 {
  font-family: T-StarPro;
  font-size: 12px;
  line-height: 14px;
  margin-top: 10px;
}

.figcaption>p {
  font-family: T-StarPro;
  font-size: 20px;
  line-height: 24px;
  margin-top: 20px;
}

.bottons {
  width: 300px;
  height: 30px;
  margin-top: 40px;
  margin-bottom: 30px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  cursor: pointer;
}

.random {
  width: 120px;
  height: 40px;

  line-height: 43px;
  font-size: 20px;
  text-align: center;
  font-family: T-StarPro-Bold;
  letter-spacing: .5px;

  border-style: solid;
  border-width: 1px;
  border-color: black;
  user-select: none;
}

.random:active {
  background-color: lightgray;
  transition: none;
}

.normalize {
  width: 140px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  font-family: T-StarPro;
  margin-left: 15px;

  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.original {
  opacity: 0;
  transition: .2s ease-out;
}

.navigation {
  width: 100vw;
  height: calc(100vh - 200px);
  top: 100px;
  position: absolute;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 400px;
  cursor: pointer;
  box-shadow: 0 5px 15px -5px #636363;
}

.left {
  margin-left: -350px;
  opacity: .5;
}

.right {
  margin-right: -350px;
  opacity: .5;
}

.left:hover {
  margin-left: -200px;
  opacity: 1;
  transform: scale(1.1);
  z-index: 999;
}

.right:hover {
  margin-right: -200px;
  opacity: 1;
  transform: scale(1.1);
  z-index: 999;
}

.bottombottons {
  height: 30px;
  margin-top: 2px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.orderPoster {
  margin-left: 20px;
}

.save {
  margin-left: 20px;
  font-family: T-StarPro;
  font-size: 14px;
  line-height: 25px;
  cursor: pointer;
}

.save:hover {
  text-decoration: underline;
}

.save:active {
  text-decoration: underline;
}

.bottons_mobile {
  display: none;
}

@media (min-width: 2000px) {
  .bg, .figcaption {
    transform: scale(1.4);
  }

  .figures {
    margin-right: 200px;
  }
}

@media (max-width: 768px) and (min-width: 668px) {
  .main {
    /*transform: scale(.7);*/
    z-index: 9999;
  }

  body {
    overflow-y: scroll;
  }

  .main {
    flex-direction: column;
    justify-content: flex-start;
    /*align-items: flex-start;*/
    height: auto;
  }

  .bg {
    margin-top: 100px;
    /*transform: scale(1.2);*/
  }

  .figures {
    margin: 0;
  }

  .figcaption {
    /*margin-top: 120px;*/
    width: 400px;
  }

  .navigation {
    display: none;
  }

  .figcaption>h1 {
    font-size: 32px;
    line-height: 30px;
    text-indent: -16px;
  }

  .bottons {
    display: none;
  }

  .bottons_mobile {
    width: 180px;
    height: 60px;
    margin: 25px 0 35px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .tooriginal {
    border-style: solid;
    border-width: 1px;
    border-color: black;
  }

  .tooriginal:hover {
    text-decoration: none;
  }
}

@media (max-width: 667px) {
  .main {
    transform: scale(.45);
  }

  .navigation {
    display: none;
  }
}

@media (max-width: 375px) {
  body {
    overflow-y: scroll;
  }

  .main {
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    transform: scale(1);
  }

  .bg {
    transform: scale(0.7);
  }

  .figures {
    margin: 0;
  }

  .figcaption {
    /*margin-top: 120px;*/
    width: 300px;
  }

  .navigation {
    display: none;
  }

  .figcaption>h1 {
    font-size: 32px;
    line-height: 30px;
    text-indent: -16px;
  }

  .bottons {
    display: none;
  }

  .bottons_mobile {
    width: 180px;
    height: 60px;
    margin: -55px 0 45px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .normalize {
    border-style: solid;
    border-width: 1px;
    border-color: black;
  }

  .normalize:hover {
    text-decoration: none;
  }
}

/*@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape) {
  .bg, .figcaption {
    transform: scale(0.5);
  }
  .navigation {
    width: 20px;
  }

}
