
body {
  overflow: hidden;
}

/* MAIN */

.main {
  /* position: absolute; */
  position: relative;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* PICTURE */

.bg {
  display: block;
  position: relative;
}

.figures {
  position: relative;
  overflow: hidden;
  height: 600px;
  margin-right: 50px;
  box-shadow: 0 5px 15px -5px #636363;
  z-index: 999999;
  display: block;
}

.rectangle {
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;

  transition: .5s;

}

/* CAPTION-TEXT */

.figcaption {
  width: 360px;
  height: auto;
  /* display: block; */
  z-index: 999999;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.figcaption h1 {
  font-family: T-StarPro-Bold;
  font-size: 36px;
  color: #000000;
  letter-spacing: 0;
  line-height: 39px;
  text-indent: -16px;

  margin-bottom: 24px;
}

.figcaption h2 {
  font-family: T-StarPro-Medium;
  font-size: 14px;
  color: #000000;
  letter-spacing: 1.5px;
  text-transform: uppercase;

  margin-bottom: 8px;
}

.figcaption p {
  font-family: T-StarPro-Medium;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  line-height: 26px;
}

/* BUTTONS */

.buttonsWrapper {
  margin-top: 36px;
  display: flex;
  flex-direction: row;
}

.buttonsRand {
  /* width: 300px; */
  /* height: 30px; */

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin-right: 32px;

  cursor: pointer;
}

.randomize {
  height: 40px;
  padding: 0 25px;
  line-height: 43px;
  font-size: 20px;
  text-align: center;
  font-family: T-StarPro-Bold;
  letter-spacing: .5px;
  border: solid 1px black;
  user-select: none;

  /* margin-right: 38px; */
}

#randomize:hover {
  transform: scale(1.02);
  transition: .1s ease-in;
}

.normalize {
  /* width: 140px; */
  /* height: 40px; */
  line-height: 14px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  user-select: none;

  /* margin-left: 21px; */
  margin-top: 12px;

  font-family: T-StarPro-Medium;
  font-size: 14px;
  color: rgba(0,0,0,0.50);
  letter-spacing: 1px;

  transition: .1s ease-in;
}

.normalize:hover {
  text-decoration: underline;
}

.original {
  opacity: 0;
  transition: .2s ease-out;
  cursor: auto;
}

.buttonsShare {
  /* margin-top: 12px; */
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/* NAVIGATION */

.navigation {
  width: 100vw;
  height: calc(100vh - 200px);
  top: 100px;
  position: absolute;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 400px;
  /* height: 400px; */
  cursor: pointer;
  box-shadow: 0 5px 15px -5px #636363;

  transition: .5s;
}

.left {
  margin-left: -350px;
  opacity: .5;
}

.right {
  margin-right: -350px;
  opacity: .5;
}

.left:hover {
  margin-left: -200px;
  opacity: 1;
  transform: scale(1.1);
  z-index: 999;
}

.right:hover {
  margin-right: -200px;
  opacity: 1;
  transform: scale(1.1);
  z-index: 999;
}

/* MEDIA */

@media (min-width: 2000px) {
  .bg, .figcaption {
    transform: scale(1.4);
  }

  .figures {
    margin-right: 200px;
  }
}

@media (max-width: 1024px) {
  .main {
    transform: scale(0.8);
  }
  
  .navigation {
    display: none;
  }
}

@media (max-width: 768px) and (min-width: 668px) {
  .main {
    z-index: 9999;
    transform: scale(1);
  }

  body {
    overflow-y: scroll;
  }

  .main {
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
  }

  .bg {
    margin-top: 100px;
  }

  .figures {
    margin: 0;
  }

  .figcaption {
    width: 400px;
    flex-direction: column-reverse;

    margin-bottom: 32px;
  }

  .navigation {
    display: none;
  }

  .figcaption>h1 {
    font-size: 32px;
    line-height: 30px;
    text-indent: -16px;
  }

/* BUTTONS */

  .buttonsWrapper {
    width: 100%;
    margin-bottom: 48px;

    flex-direction: column;
    align-items: center;
  }

  .buttonsRand {
    /* width: 331px; */
    flex-direction: row;
    margin: 0;
  }

  .buttonsShare {
    margin-top: 32px;
  }

  .normalize {
    margin-top: 0;
    margin-left: 32px;
    line-height: 40px;
  }

  .normalize:hover {
    text-decoration: none;
  }

}

@media (max-width: 667px) {
  .main {
    transform: scale(.3);
    /* width: 100%; */
  }

  /* .bg, .figcaption {
    transform: scale(.3);
    width: 130px;
  } */

  .navigation {
    display: none;
  }
}

@media (max-width: 414px) {
  body {
    overflow-y: scroll;
  }

  /* MAIN */

  .main {
    margin-top: -4vh;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    transform: scale(1);
  }

/* PICTURE */

  .bg {
    transform: scale(0.7);
    margin-top: 24px;
    margin-bottom: -88px;
  }

  .figures {
    margin: 0;
  }

/* CAPTION-TEXT */

  .figcaption {
    width: 321px;
    flex-direction: column-reverse;

    /* margin: 0 22px; */
  }


  .figcaption h1 {
    font-size: 32px;
    line-height: 30px;
    text-indent: -16px;
  }

  .figcaption p {
    font-family: T-StarPro-Medium;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0;
    line-height: 24px;
  }

  .textWrapper {
    margin-bottom: 32px;
  }

/* BUTTONS */

  .buttonsWrapper {
    width: 100%;
    margin-bottom: 48px;

    flex-direction: column;
    align-items: center;
  }

  .buttonsRand {
    /* width: 331px; */
    flex-direction: row;
    margin: 0;
  }

  .buttonsShare {
    margin-top: 32px;
  }

  .normalize {
    margin-top: 0;
    margin-left: 32px;
    line-height: 40px;
  }

  .normalize:hover {
    text-decoration: none;
  }

/* NAVIGATION */

  .navigation {
    display: none;
  }
}

@media (max-width: 320px) {
  .figcaption {
    width: 281px;
  }
}
