.figures {
  width: 487px;
  background-image: url(../materials/artwork2/0.svg);
}

.f1 {
  background-image: url(../materials/artwork2/1.svg);
  left: 89px;
  top: 497px;
  width: 52px;
  height: 7px;
  z-index: 15;
}


.f2 {
  background-image: url(../materials/artwork2/2.svg);
  left: 0px;
  top: 35px;
  width: 114px;
  height: 32px;
  z-index: 14;
}

.f3 {
  background-image: url(../materials/artwork2/3.svg);
  left: 253px;
  top: 440px;
  width: 93px;
  height: 75px;
  z-index: 13;
}

.f4 {
  background-image: url(../materials/artwork2/4.svg);
  left: 256px;
  top: 467px;
  width: 218px;
  height: 48px;
  z-index: 12;
}

.f5 {
  background-image: url(../materials/artwork2/5.svg);
  left: 393px;
  top: 254px;
  width: 92px;
  height: 37px;
  z-index: 11;
}

.f6 {
  background-image: url(../materials/artwork2/6.svg);
  left: 73px;
  top: 219px;
  width: 212px;
  height: 136px;
  z-index: 10;
}

.f7 {
  background-image: url(../materials/artwork2/7.svg);
  left: 125px;
  top: 98px;
  width: 246px;
  height: 289px;
  z-index: 9;
}

.f8 {
  background-image: url(../materials/artwork2/8.svg);
  left: 88px;
  top: 175px;
  width: 307px;
  height: 281px;
  z-index: 8;
}

.f9 {
  background-image: url(../materials/artwork2/9.svg);
  left: 253px;
  top: 309px;
  width: 198px;
  height: 35px;
  z-index: 7;
}

.f10 {
  background-image: url(../materials/artwork2/10.svg);
  left: 77px;
  top: 317px;
  width: 27px;
  height: 85px;
  z-index: 6;
}

.f11 {
  background-image: url(../materials/artwork2/11.svg);
  left: 417px;
  top: 230px;
  width: 8px;
  height: 162px;
  z-index: 5;
}

.f12 {
  background-image: url(../materials/artwork2/12.svg);
  left: 425px;
  top: 221px;
  width: 15px;
  height: 180px;
  z-index: 4;
}

.f13 {
  background-image: url(../materials/artwork2/13.svg);
  left: 52px;
  top: -13px;
  width: 361px;
  height: 230px;
  z-index: 3;
}

.f14 {
  background-image: url(../materials/artwork2/14.svg);
  left: 72px;
  top: 373px;
  width: 22px;
  height: 143px;
  z-index: 2;
}

.f15 {
  background-image: url(../materials/artwork2/15.svg);
  left: 99px;
  top: 307px;
  width: 23px;
  height: 294px;
  z-index: 1;
}
