.footer {
  width: 100vw;
  height: 66px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 26px 24px; */
  z-index: 9999999;

  font-family: T-StarPro;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0,0,0,0.50);
  letter-spacing: 0.5px;
  text-align: center;
}

@media (max-width: 768px) and (min-width: 668px) {
  .footer {
    position: relative;
    height: 86px;
    /* opacity: 0; */
  }
}


@media (max-width: 414px) {
  .footer {
    position: relative;
    height: 86px;
    /* opacity: 0; */
  }
}
