body {
  /*background-color: #FAFAFA;*/
  height: 3600px;
  background-size: contain;
  background-repeat: no-repeat;
}

.s1 {
  position: absolute;
  width: 100vw;
  height: calc(100vh);
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}

.text {
  position: absolute;
  margin-left: calc(50vw - 450px);
  margin-top: calc(50vh - 120px);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 900px;
  height: 170px;
  z-index: 20;
  cursor: default;
}

.arrow {
  position: absolute;
  width: 100vw;
  height: 75px;
  top: calc(100vh - 100px);
  background-image: url(../materials/arrow3.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 21;
  display: none;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounce {
  animation: bounce 2s 2 ease;
}

.comments {
  position: absolute;
  width: 100vw;
  height: 50px;
  top: calc(100vh - 50px);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  z-index: 99999;
  padding: 0 30px;
  transition: .8s ease;
  cursor: default;
}

.comments>p {
  font-size: 18px;
  font-family:  T-StarPro;
}

.spic1 {
  width: 100vw;
  height: 1000px;
  /*background-color: red;*/
  position: absolute;
  top: calc(100vh + 100px);
}

.spic2 {
  width: 100vw;
  height: 1000px;
  /*background-color: red;*/
  position: absolute;
  top: calc(100vh + 1700px);
}

.picture {
  width: 250px;
  height: auto;
  /*background-color: yellow;*/
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.preview {
  width: 250px;
  height: auto;
  box-shadow: 0 5px 15px -5px #636363;
}

.picture:hover {
  transform: scale(1.2);
  z-index: 99;
  transition: .5s ease;
}

.title {
  width: 200px;
  font-size: 15px;
  line-height: 16px;
  font-family:  T-StarPro-Bold;
}

.teaser {
  width: 200px;
  font-size: 12px;
  line-height: 20px;
  font-family:  T-StarPro;
  margin: 0;
}

.pic1 {top: 100px; left: 6% ;}
.pic2 {top: 30px;  left: 28%;}
.pic3 {top: 120px; left: 54%;}
.pic4 {top: 170px; left: 76%;}
.pic5 {top: 580px; left: 12%;}
.pic6 {top: 500px; left: 34%;}
.pic7 {top: 600px; left: 56%;}
.pic8 {top: 550px; left: 78%;}

.pic9  {top: 50px; left: 4% ;}
.pic10 {top: 100px;  left: 28%;}
.pic11 {top: 20px; left: 52%;}
.pic12 {top: 140px; left: 76%;}
.pic13 {top: 580px; left: 6%;}
.pic14 {top: 650px; left: 30%;}
.pic15 {top: 500px; left: 52%;}
.pic16 {top: 550px; left: 74%;}

.s2 {
  position: absolute;
  top: calc(100vh + 1250px);
  width: 100vw;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.s2 > div {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-around;
  width: 1200px;
  height: 170px;
}

.s2text {
  width: 400px;
  /*margin: 0 100px;*/
}

.redslash {
  width: 20px;
  height: 500px;
  margin-top: -120px;
  margin-right: 50px;
  transform: rotate(20deg);
  background-color: #B61004;
  transition: 1s ease;
}

.redslash::after {
  display: block;
  width: 500px;
  height: 500px;
  background-color: yellow;
  content: '';
  opacity: 0;
  position: absolute;
  left: -250px;
  border-radius: 50%;
}
.redslash:hover {
  transform: rotate(360deg);
}

h1 {
  font-size: 180px;
  font-family:  T-StarPro-Bold;
  display: none;
  letter-spacing: 7px;
}

h2 {
  font-size: 32px;
  font-family:  T-StarPro-Medium;
  display: none;
}

h3 {
  font-size: 48px;
  font-family:  T-StarPro-Bold;
}

p {
  font-size: 24px;
  font-family:  T-StarPro;
  line-height: 29px;
  margin-top: 10px;
}
