body {
  /*height: 3600px;*/
}

.mainsection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.s1 {
  position: relative;
  width: 100vw;
  height: calc(100vh);
  overflow: hidden;
}

.s2 {
  position: relative;
  width: 100vw;
  height: 1000px;
}

.s3 {
  position: relative;
  width: 100vw;
  height: 600px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.s4 {
  position: relative;
  width: 100vw;
  height: 1100px;
}

.textFlex {
  width: 100vw;
  height: 100vh;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 20;
  cursor: default;
  margin-top: -14vh;
}

.bottomText {
  transition: 1s;
}

.arrow {
  position: absolute;
  width: 100vw;
  height: 75px;
  top: calc(74vh);
  background-image: url(../materials/arrow3.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 999999;
  display: none;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounce {
  animation: bounce 2s 1 ease;
}

.comments_mobile {
  display: none;
}

.comments {
  position: absolute;
  width: 100vw;
  height: 50px;
  top: calc(100vh - 50px);
  padding: 0 30px;

  display: flex;
  justify-content: space-between;
  flex-direction: row;

  z-index: 99999;
  transition: .8s ease;
  cursor: default;
}

.comments>p {
  font-size: 15px;
  font-family:  T-StarPro;
}

.picture {
  width: 250px;
  height: auto;
  /*background-color: yellow;*/
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.preview {
  width: 250px;
  height: auto;
  box-shadow: 0 5px 15px -5px #636363;
}

.picture:hover {
  transform: scale(1.2);
  z-index: 99;
  transition: .5s ease;
}

.title {
  width: 200px;
  font-size: 15px;
  line-height: 16px;
  font-family:  T-StarPro-Bold;
  text-indent: -8px;
}

.teaser {
  width: 200px;
  font-size: 12px;
  line-height: 20px;
  font-family:  T-StarPro;
  margin: 0;
}

.pic1  {top: 100px; left: 6% ;}
.pic2  {top: 30px;  left: 28%;}
.pic3  {top: 120px; left: 54%;}
.pic4  {top: 170px; left: 76%;}
.pic5  {top: 580px; left: 12%;}
.pic6  {top: 500px; left: 34%;}
.pic7  {top: 600px; left: 56%;}
.pic8  {top: 550px; left: 78%;}

.pic9  {top: 50px;  left: 4% ;}
.pic10 {top: 100px; left: 28%;}
.pic11 {top: 20px;  left: 52%;}
.pic12 {top: 140px; left: 76%;}
.pic13 {top: 580px; left: 6%;}
.pic14 {top: 650px; left: 30%;}
.pic15 {top: 500px; left: 52%;}
.pic16 {top: 550px; left: 74%;}

.s3 > div {
  width: 100vw;
  height: 300px;
  position: relative;

  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;

  padding: 0 140px;
}

.s3text {
  width: 400px;
}

.redslash {
  width: 25px;
  height: 500px;
  margin-top: -120px;
  /*margin-right: 50px;*/
  transform: rotate(20deg);
  background-color: #B61004;
  transition: 1s ease;
}

h1 {
  font-size: 180px;
  font-family:  T-StarPro-Bold;
  display: none;
  letter-spacing: 7px;
}

h2 {
  font-size: 32px;
  font-family:  T-StarPro-Medium;
  /*display: none;*/
}

h3 {
  font-size: 48px;
  font-family:  T-StarPro-Bold;
}

p {
  font-size: 24px;
  font-family:  T-StarPro;
  line-height: 29px;
  margin-top: 10px;
}

@media (max-width: 1224px) {
  .redslash {
    display: none;
  }
}

@media (max-width: 1180px) {
  h1 {
    /*font-family: T-StarPro-Heavy;*/
    font-size: 120px;
  }

  h2 {
    font-size: 24px;
  }

  .s2 {
    height: 1500px;
  }

  .s4 {
    height: 1500px;
  }

  .pic1  {top: 100px;  left: 5% ;}
  .pic2  {top: 30px;   left: 37%;}
  .pic3  {top: 120px;  left: 69%;}
  .pic4  {top: 580px;  left: 20%;}
  .pic5  {top: 540px;  left: 53%;}
  .pic6  {top: 950px;  left: 4%; }
  .pic7  {top: 1100px; left: 36%;}
  .pic8  {top: 975px;  left: 68%;}

  .pic9  {top: 100px;  left: 5% ;}
  .pic10 {top: 30px;   left: 37%;}
  .pic11 {top: 120px;  left: 69%;}
  .pic12 {top: 520px;  left: 17%;}
  .pic13 {top: 590px;  left: 53%;}
  .pic14 {top: 950px;  left: 4%; }
  .pic15 {top: 1100px; left: 36%;}
  .pic16 {top: 1020px;  left: 68%;}
}

@media (max-width: 1024px) {
  .s3 {
    height: 400px;
  }

  .s3 > div {
    padding: 0 80px;
  }

  .s3text {
    width: 380px;
  }

  h3 {
    font-size: 32px;
  }

  p {
    font-size: 24px;
  }

  .comments {
    display: none;
  }

  .comments_mobile {
    position: absolute;
    width: 100vw;
    height: 50px;
    top: calc(100vh - 50px);
    padding: 0 30px;

    display: flex;
    justify-content: space-between;
    flex-direction: row;

    z-index: 9999999;
    transition: .8s ease;
    cursor: default;
    text-decoration: underline;
  }

  .comments>p {
    font-size: 18px;
    font-family:  T-StarPro;
  }

  p {
    font-size: 18px;
    line-height: 22px;
    margin-top: 5px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 80px;
  }

  .text {
    margin-top: 0;
  }

  .s2 {
    height: 1850px;
  }

  .s3 {
    height: 300px;
  }

  .s3 > div {
    padding: 0 90px;
    height: 210px;
  }

  .s3text {
    width: 280px;
  }

  .s4 {
    height: 1850px;
  }

  .s1_bg {
    top: 0;
    transform: scale(1.3);
  }

  .arrow {
    height: 35px;
    top: calc(100vh - 60px);
  }

  .pic1  {top: 70px;   left: 11%;}
  .pic2  {top: 100px;  left: 56%;}
  .pic3  {top: 570px;  left: 16%;}
  .pic4  {top: 520px;  left: 58%;}
  .pic5  {top: 970px;  left: 11%;}
  .pic6  {top: 920px;  left: 54%;}
  .pic7  {top: 1450px; left: 14%;}
  .pic8  {top: 1250px; left: 58%;}

  .pic9  {top: 70px;   left: 11%;}
  .pic10 {top: 100px;  left: 56%;}
  .pic11 {top: 490px;  left: 14%;}
  .pic12 {top: 520px;  left: 53%;}
  .pic13 {top: 970px;  left: 11%;}
  .pic14 {top: 940px;  left: 58%;}
  .pic15 {top: 1450px; left: 14%;}
  .pic16 {top: 1350px; left: 54%;}
}

@media (max-width: 667px) {
  .s1_bg {
    top: 0;
    transform: scale(0.9);
  }

  .pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7, .pic8, .pic9, .pic10, .pic11, .pic12, .pic13, .pic14, .pic15, .pic16 {
    top: 0;
    left: 0;
    margin: 20px auto;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .s2, .s4 {
    height: 3200px;
    padding: 20px 0;
  }

  .s3 > div {
    padding: 0 40px;
  }

  .s4 {
    height: 3400px;
  }

  .title {
    margin-top: 15px;
  }
}

@media (max-width: 375px) {
  h1 {
    /*font-family: T-StarPro-Heavy;*/
    font-size: 42px;
  }

  h2 {
    font-size: 14px;
    font-family: T-StarPro;
  }

  .s3 {
    height: 500px;
  }

  .s3 > div {
    height: 450px;
    flex-direction: column;
    padding: 30px;
  }

  .s3text {
    width: auto;
  }

  h3 {
    font-size: 24px;
    line-height: 30px;
    margin-top: 30px;
  }

  .picture:hover {
    transform: scale(1);
  }

}
