body {
  /*height: 3600px;*/
}

.mainsection {
  margin-top: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 0 20px 0 #D1D1D1;

}

.s1 {
  position: fixed;
  width: 100vw;
  height: calc(100vh);
  overflow: hidden;
}

.s2 {
  position: relative;
  width: 100vw;
  max-width: 1440px;
  height: 1000px;

  background-color: white;
}

.s3 {


  position: relative;
  width: 100vw;
  max-width: 1440px;
  /*height: 600px;*/
  padding: 20px 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: white;


  /*color: white;*/
  /*background-color: red;*/
}

.s4 {
  position: relative;
  width: 100vw;
  max-width: 1440px;
  height: 1020px;

  background-color: white;
}

.s5 {
  position: relative;
  width: 100vw;
  max-width: 1440px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  background-color: white;
  padding: 20px 0;
}

.footer {
  font-size: 14px;
  font-family: T-StarPro-Medium;
  text-align: center;
  line-height: 18px;
  /*margin-bottom: 20px;*/
  /*margin-bottom: 20px;*/
}

.footer>a {
  text-decoration: underline;
}

.picturesFlex {
  /*width: 100vw;
  height: 100vh;*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;


}

.textFlex {
  width: 100vw;
  height: 100vh;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 20;
  cursor: default;
  margin-top: -10vh;
}

.bottomText {
  transition: 1s;
}

.arrow {
  position: absolute;
  width: 100vw;
  height: 75px;
  top: calc(74vh);
  background-image: url(../materials/arrow3.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 999999;
  display: none;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounce {
  animation: bounce 2s 1 ease;
}

.comments_mobile {
  display: none;
}

.comments {
  position: absolute;
  width: 100vw;
  height: 50px;
  top: calc(100vh - 50px);
  padding: 0 30px;

  display: flex;
  justify-content: space-between;
  flex-direction: row;

  z-index: 99999;
  transition: .8s ease;
  cursor: default;
}

.comments>p {
  font-size: 15px;
  font-family:  T-StarPro;
}

.picture {
  width: 250px;
  height: auto;
  /*background-color: yellow;*/
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all .5s ease;
}

.preview {
  width: 250px;
  height: auto;
  box-shadow: 0 5px 15px -5px #636363;
}

.picture:hover {
  transform: scale(1.08);
  z-index: 99;
}

.title {
  width: 200px;
  font-size: 15px;
  line-height: 16px;
  font-family:  T-StarPro-Bold;
  text-indent: -8px;
}

.teaser {
  width: 200px;
  font-size: 12px;
  line-height: 20px;
  font-family:  T-StarPro;
  margin: 0;
}

.pic1  {top: 70px; left: 6% ;}
.pic2  {top: 30px;  left: 28%;}
.pic3  {top: 120px; left: 54%;}
.pic4  {top: 170px; left: 76%;}
.pic5  {top: 560px; left: 8%;}
.pic6  {top: 500px; left: 34%;}
.pic7  {top: 600px; left: 56%;}
.pic8  {top: 550px; left: 78%;}

.pic9  {top: 50px;  left: 4% ;}
.pic10 {top: -80px; left: 28%;}
.pic11 {top: 0px;  left: 52%;}
.pic12 {top: 110px; left: 76%;}
.pic13 {top: 520px; left: 6%;}
.pic14 {top: 420px; left: 29%;}
.pic15 {top: 540px; left: 54%;}
.pic16 {top: 570px; left: 76%;}

.s3teaser {
  font-size: 62px;
  font-family:  T-StarPro-Bold;
  text-align: center;
}

.s3texts {
  width: 100vw;
  max-width: 1440px;
  margin-top: 60px;
  height: auto;
  position: relative;

  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;

  padding: 0 140px;
}

.s3text {
  width: 410px;
  margin: 0 35px;
}

.redslash {
  width: 15px;
  height: 350px;
  margin: -40px 30px 0 0;
  /*margin-right: 50px;*/
  transform: rotate(20deg);
  background-color: #B61004;
  transition: 1s ease;
}

h1 {
  font-size: 180px;
  font-family:  T-StarPro-Bold;
  display: none;
  letter-spacing: 7px;
}

h2 {
  font-size: 32px;
  font-family:  T-StarPro-Medium;
  /*display: none;*/
}

h3 {
  font-size: 36px;
  font-family:  T-StarPro-Medium;
}

p {
  font-size: 22px;
  font-family:  T-StarPro;
  line-height: 29px;
  margin-top: 10px;
}

@media (min-width: 1680px) {
  .s1_bg {
    transform: scale(1.7);
  }

  h1 {
    font-size: 220px;
  }

  h2 {
    font-size: 48px;
  }
}

@media (max-width: 1280px) {
  .redslash {
    display: none;
  }

  .s2 {
    height: 1500px;
  }

  .s4 {
    height: 1500px;
  }

  .pic1  {top: 100px;  left: 8% ;}
  .pic2  {top: 30px;   left: 40%;}
  .pic3  {top: 120px;  left: 72%;}
  .pic4  {top: 580px;  left: 23%;}
  .pic5  {top: 540px;  left: 56%;}
  .pic6  {top: 950px;  left: 7%; }
  .pic7  {top: 1100px; left: 39%;}
  .pic8  {top: 975px;  left: 71%;}

  .pic9  {top: 100px;  left: 8% ;}
  .pic10 {top: 30px;   left: 40%;}
  .pic11 {top: 120px;  left: 72%;}
  .pic12 {top: 520px;  left: 20%;}
  .pic13 {top: 590px;  left: 56%;}
  .pic14 {top: 950px;  left: 7%; }
  .pic15 {top: 1100px; left: 39%;}
  .pic16 {top: 1020px; left: 71%;}
}

@media (max-width: 1180px) {
  h1 {
    /*font-family: T-StarPro-Heavy;*/
    font-size: 120px;
  }

  h2 {
    font-size: 24px;
  }

  .s3teaser {
    font-size: 54px;
  }
}

@media (max-width: 1024px) {
  /*.s3 {
    height: 500px;
  }*/

  .s3texts {
    padding: 0 80px;
  }

  .s3text {
    width: 380px;
  }

  h3 {
    font-size: 32px;
  }

  p {
    font-size: 24px;
  }

  .comments {
    display: none;
  }

  .comments_mobile {
    position: absolute;
    width: 100vw;
    height: 50px;
    top: calc(100vh - 50px);
    padding: 0 30px;

    display: flex;
    justify-content: space-between;
    flex-direction: row;

    z-index: 9999999;
    transition: .8s ease;
    cursor: default;
    text-decoration: underline;
  }

  .comments>p {
    font-size: 18px;
    font-family:  T-StarPro;
  }

  p {
    font-size: 18px;
    line-height: 22px;
    margin-top: 5px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 80px;
  }

  /*.text {
    margin-top: 0;
  }*/

  .s2 {
    height: 1800px;
  }

  /*.s3 {
    height: 400px;
  }*/

  .s3texts {
    padding: 0 60px;
    /*height: 210px;*/
  }

  .s3text {
    width: 280px;
    margin: 0 20px;
  }

  .s4 {
    height: 1850px;
  }

  .s1_bg {
    top: 0;
    transform: scale(1.3);
  }

  .arrow {
    height: 40px;
    /*top: calc(100vh - 60px);*/
  }

  .pic1  {top: 70px;   left: 11%;}
  .pic2  {top: 100px;  left: 56%;}
  .pic3  {top: 570px;  left: 16%;}
  .pic4  {top: 520px;  left: 58%;}
  .pic5  {top: 970px;  left: 11%;}
  .pic6  {top: 920px;  left: 54%;}
  .pic7  {top: 1450px; left: 14%;}
  .pic8  {top: 1250px; left: 58%;}

  .pic9  {top: 70px;   left: 11%;}
  .pic10 {top: -60px;  left: 56%;}
  .pic11 {top: 490px;  left: 14%;}
  .pic12 {top: 360px;  left: 59%;}
  .pic13 {top: 970px;  left: 11%;}
  .pic14 {top: 840px;  left: 58%;}
  .pic15 {top: 1450px; left: 14%;}
  .pic16 {top: 1350px; left: 56%;}
}

@media (max-width: 667px) {
  .s1_bg {
    top: 0;
    transform: scale(0.9);
  }

  .pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7, .pic8, .pic9, .pic10, .pic11, .pic12, .pic13, .pic14, .pic15, .pic16 {
    top: 0;
    left: 0;
    margin: 20px auto;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .s2, .s4 {
    height: 3200px;
    padding: 20px 0;
  }

  .s3texts {
    padding: 0 40px;
  }

  .s4 {
    height: 3400px;
  }

  .title {
    margin-top: 15px;
  }
}

@media (max-width: 414px) {
  h1 {
    /*font-family: T-StarPro-Heavy;*/
    font-size: 42px;
  }

  h2 {
    font-size: 14px;
    font-family: T-StarPro;
  }

  .s3 {
    /*height: 700px;*/
    padding: 50px 30px;
    justify-content: flex-start;
  }

  .s5 {
    height: 180px;
  }

  .s3teaser {
    font-size: 42px;
    line-height: 46px;
  }

  .s3texts {
    /*height: 450px;*/
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 30px;
    margin-top: 0;
  }

  .s3text {
    width: auto;
  }

  h3 {
    font-size: 24px;
    line-height: 30px;
    margin-top: 30px;
  }

  .picture:hover {
    transform: scale(1);
  }

  .footer {
    padding: 0 30px;
  }

}
