@font-face {
  src: url(../fonts/T-StarPro-Bold.otf);
  font-family: T-StarPro-Bold;
}

@font-face {
  src: url(../fonts/T-StarPro-Heavy.otf);
  font-family: T-StarPro-Heavy;
}

@font-face {
  src: url(../fonts/T-StarPro-Medium.otf);
  font-family: T-StarPro-Medium;
}

@font-face {
  src: url(../fonts/T-StarPro.otf);
  font-family: T-StarPro;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

.none {
  opacity: 0;
}
