@media (min-width: 1281px) {
  #nft-00001 {
    top: 70px;
    left: 6%;
  }

  #nft-00002 {
    top: 30px;
    left: 28%;
  }

  #nft-00003 {
    top: 120px;
    left: 54%;
  }

  #nft-00004 {
    top: 80px;
    left: 76%;
  }

  #nft-00005 {
    top: 560px;
    left: 8%;
  }

  #nft-00006 {
    top: 500px;
    left: 34%;
  }

  #nft-00007 {
    top: 600px;
    left: 56%;
  }

  #nft-00008 {
    top: 560px;
    left: 78%;
  }

  #nft-00009 {
    top: 970px;
    left: 4%;
  }

  #nft-00010 {
    top: 940px;
    left: 28%;
  }

  #nft-00011 {
    top: 1040px;
    left: 52%;
  }

  #nft-00012 {
    top: 990px;
    left: 76%;
  }

  #nft-00013 {
    top: 1460px;
    left: 6%;
  }

  #nft-00014 {
    top: 1410px;
    left: 29%;
  }

  #nft-00015 {
    top: 1470px;
    left: 54%;
  }

  #nft-00016 {
    top: 1450px;
    left: 76%;
  }

  #nft-00017 {
    top: 1900px;
    left: 8%;
  }

  #nft-00018 {
    top: 1940px;
    left: 32%;
  }

  #nft-00019 {
    top: 1980px;
    left: 56%;
  }

  #nft-00020 {
    top: 1900px;
    left: 78%;
  }

  #nft-00021 {
    top: 2340px;
    left: 5%;
  }

  #nft-00022 {
    top: 2460px;
    left: 30%;
  }

  #nft-00023 {
    top: 2410px;
    left: 54%;
  }

  #nft-00024 {
    top: 2380px;
    left: 77%;
  }

  #nft-00025 {
    top: 2790px;
    left: 7%;
  }

  #nft-00026 {
    top: 2900px;
    left: 32%;
  }

  #nft-00027 {
    top: 2930px;
    left: 56%;
  }

  #nft-00028 {
    top: 2870px;
    left: 79%;
  }

  #nft-00029 {
    top: 3230px;
    left: 5%;
  }

  #nft-00030 {
    top: 3380px;
    left: 30%;
  }

  #nft-00031 {
    top: 3410px;
    left: 54%;
  }

  #nft-00032 {
    top: 3430px;
    left: 77%;
  }

  #nft-00033 {
    top: 3760px;
    left: 7%;
  }

  #nft-00034 {
    top: 3830px;
    left: 32%;
  }

  #nft-00035 {
    top: 3880px;
    left: 56%;
  }

  #nft-00036 {
    top: 3960px;
    left: 79%;
  }

  #nft-00037 {
    top: 4190px;
    left: 8%;
  }

  #nft-00038 {
    top: 4310px;
    left: 33%;
  }

  #nft-00039 {
    top: 4340px;
    left: 57%;
  }

  #nft-00040 {
    top: 4420px;
    left: 79%;
  }

  #nft-00041 {
    top: 4740px;
    left: 6%;
  }

  #nft-00042 {
    top: 4810px;
    left: 30%;
  }

  #nft-00043 {
    top: 4790px;
    left: 55%;
  }

  #nft-00044 {
    top: 4890px;
    left: 78%;
  }

  #nft-00045 {
    top: 5190px;
    left: 7%;
  }

  #nft-00046 {
    top: 5340px;
    left: 31%;
  }

  #nft-00047 {
    top: 5320px;
    left: 57%;
  }

  #nft-00048 {
    top: 5360px;
    left: 80%;
  }

  #nft-00049 {
    top: 5640px;
    left: 5%;
  }

  #nft-00050 {
    top: 5860px;
    left: 30%;
  }

  #nft-00051 {
    top: 5790px;
    left: 55%;
  }

  #nft-00052 {
    top: 5840px;
    left: 78%;
  }

  #nft-00053 {
    top: 6130px;
    left: 7%;
  }

  #nft-00054 {
    top: 6320px;
    left: 29%;
  }

  #nft-00055 {
    top: 6330px;
    left: 54%;
  }

  #nft-00056 {
    top: 6330px;
    left: 77%;
  }
}

@media (max-width: 1280px) and (min-width: 996px) {
  #nft-00001 {
    top: 100px;
    left: 8%;
  }

  #nft-00002 {
    top: 30px;
    left: 40%;
  }

  #nft-00003 {
    top: 120px;
    left: 72%;
  }

  #nft-00004 {
    top: 600px;
    left: 23%;
  }

  #nft-00005 {
    top: 570px;
    left: 56%;
  }

  #nft-00006 {
    top: 1120px;
    left: 7%;
  }

  #nft-00007 {
    top: 1100px;
    left: 41%;
  }

  #nft-00008 {
    top: 1020px;
    left: 71%;
  }

  #nft-00009 {
    top: 1600px;
    left: 24%;
  }

  #nft-00010 {
    top: 1560px;
    left: 60%;
  }

  #nft-00011 {
    top: 2130px;
    left: 6%;
  }

  #nft-00012 {
    top: 2100px;
    left: 40%;
  }

  #nft-00013 {
    top: 2050px;
    left: 70%;
  }

  #nft-00014 {
    top: 2600px;
    left: 22%;
  }

  #nft-00015 {
    top: 2550px;
    left: 59%;
  }

  #nft-00016 {
    top: 3150px;
    left: 6%;
  }

  #nft-00017 {
    top: 3100px;
    left: 38%;
  }

  #nft-00018 {
    top: 3060px;
    left: 70%;
  }

  #nft-00019 {
    top: 3580px;
    left: 20%;
  }

  #nft-00020 {
    top: 3580px;
    left: 56%;
  }

  #nft-00021 {
    top: 4020px;
    left: 5%;
  }

  #nft-00022 {
    top: 4080px;
    left: 38%;
  }

  #nft-00023 {
    top: 4060px;
    left: 70%;
  }

  #nft-00024 {
    top: 4540px;
    left: 20%;
  }

  #nft-00025 {
    top: 4590px;
    left: 57%;
  }

  #nft-00026 {
    top: 5030px;
    left: 7%;
  }

  #nft-00027 {
    top: 5070px;
    left: 39%;
  }

  #nft-00028 {
    top: 5030px;
    left: 69%;
  }

  #nft-00029 {
    top: 5540px;
    left: 19%;
  }

  #nft-00030 {
    top: 5590px;
    left: 53%;
  }

  #nft-00031 {
    top: 6090px;
    left: 8%;
  }

  #nft-00032 {
    top: 6060px;
    left: 40%;
  }

  #nft-00033 {
    top: 6020px;
    left: 71%;
  }

  #nft-00034 {
    top: 6600px;
    left: 24%;
  }

  #nft-00035 {
    top: 6550px;
    left: 59%;
  }

  #nft-00036 {
    top: 7100px;
    left: 8%;
  }

  #nft-00037 {
    top: 7060px;
    left: 42%;
  }

  #nft-00038 {
    top: 7030px;
    left: 73%;
  }

  #nft-00039 {
    top: 7590px;
    left: 23%;
  }

  #nft-00040 {
    top: 7560px;
    left: 59%;
  }

  #nft-00041 {
    top: 8040px;
    left: 7%;
  }

  #nft-00042 {
    top: 8060px;
    left: 41%;
  }

  #nft-00043 {
    top: 8000px;
    left: 74%;
  }

  #nft-00044 {
    top: 8540px;
    left: 13%;
  }

  #nft-00045 {
    top: 8580px;
    left: 56%;
  }

  #nft-00046 {
    top: 9000px;
    left: 8%;
  }

  #nft-00047 {
    top: 9110px;
    left: 44%;
  }

  #nft-00048 {
    top: 9010px;
    left: 74%;
  }

  #nft-00049 {
    top: 9560px;
    left: 17%;
  }

  #nft-00050 {
    top: 9520px;
    left: 59%;
  }

  #nft-00051 {
    top: 10050px;
    left: 9%;
  }

  #nft-00052 {
    top: 10000px;
    left: 44%;
  }

  #nft-00053 {
    top: 9960px;
    left: 75%;
  }

  #nft-00054 {
    top: 10580px;
    left: 27%;
  }

  #nft-00055 {
    top: 10500px;
    left: 64%;
  }

  #nft-00056 {
    top: 11100px;
    left: 44%;
  }
}

@media (max-width: 995px) {
  #nft-00001 {
    top: 100px;
    right: 55%;
  }

  #nft-00002 {
    top: 30px;
    left: 57%;
  }

  #nft-00003 {
    top: 620px;
    right: 59%;
  }

  #nft-00004 {
    top: 480px;
    left: 62%;
  }

  #nft-00005 {
    top: 1050px;
    right: 52%;
  }

  #nft-00006 {
    top: 990px;
    left: 59%;
  }

  #nft-00007 {
    top: 1480px;
    right: 56%;
  }

  #nft-00008 {
    top: 1480px;
    left: 62%;
  }

  #nft-00009 {
    top: 1930px;
    right: 52%;
  }

  #nft-00010 {
    top: 1920px;
    left: 60%;
  }

  #nft-00011 {
    top: 2450px;
    right: 54%;
  }

  #nft-00012 {
    top: 2400px;
    left: 62%;
  }

  #nft-00013 {
    top: 2890px;
    right: 57%;
  }

  #nft-00014 {
    top: 2860px;
    left: 60%;
  }

  #nft-00015 {
    top: 3330px;
    right: 59%;
  }

  #nft-00016 {
    top: 3390px;
    left: 58%;
  }

  #nft-00017 {
    top: 3840px;
    right: 52%;
  }

  #nft-00018 {
    top: 3820px;
    left: 62%;
  }

  #nft-00019 {
    top: 4280px;
    right: 56%;
  }

  #nft-00020 {
    top: 4340px;
    left: 56%;
  }

  #nft-00021 {
    top: 4700px;
    right: 60%;
  }

  #nft-00022 {
    top: 4840px;
    left: 52%;
  }

  #nft-00023 {
    top: 5160px;
    right: 62%;
  }

  #nft-00024 {
    top: 5300px;
    left: 56%;
  }

  #nft-00025 {
    top: 5670px;
    right: 59%;
  }

  #nft-00026 {
    top: 5790px;
    left: 53%;
  }

  #nft-00027 {
    top: 6100px;
    right: 57%;
  }

  #nft-00028 {
    top: 6260px;
    left: 59%;
  }

  #nft-00029 {
    top: 6660px;
    right: 63%;
  }

  #nft-00030 {
    top: 6820px;
    left: 63%;
  }

  #nft-00031 {
    top: 7240px;
    right: 60%;
  }

  #nft-00032 {
    top: 7280px;
    left: 57%;
  }

  #nft-00033 {
    top: 7730px;
    right: 64%;
  }

  #nft-00034 {
    top: 7850px;
    left: 60%;
  }

  #nft-00035 {
    top: 8170px;
    right: 59%;
  }

  #nft-00036 {
    top: 8350px;
    left: 56%;
  }

  #nft-00037 {
    top: 8670px;
    right: 66%;
  }

  #nft-00038 {
    top: 8830px;
    left: 60%;
  }

  #nft-00039 {
    top: 9230px;
    right: 60%;
  }

  #nft-00040 {
    top: 9380px;
    left: 63%;
  }

  #nft-00041 {
    top: 9700px;
    right: 64%;
  }

  #nft-00042 {
    top: 9880px;
    left: 59%;
  }

  #nft-00043 {
    top: 10180px;
    right: 59%;
  }

  #nft-00044 {
    top: 10450px;
    left: 54%;
  }

  #nft-00045 {
    top: 10750px;
    right: 63%;
  }

  #nft-00046 {
    top: 10950px;
    left: 63%;
  }

  #nft-00047 {
    top: 11220px;
    right: 58%;
  }

  #nft-00048 {
    top: 11500px;
    left: 58%;
  }

  #nft-00049 {
    top: 11700px;
    right: 63%;
  }

  #nft-00050 {
    top: 12020px;
    left: 60%;
  }

  #nft-00051 {
    top: 12220px;
    right: 60%;
  }

  #nft-00052 {
    top: 12500px;
    left: 64%;
  }

  #nft-00053 {
    top: 12800px;
    right: 64%;
  }

  #nft-00054 {
    top: 13020px;
    left: 58%;
  }

  #nft-00055 {
    top: 13290px;
    right: 58%;
  }

  #nft-00056 {
    top: 13520px;
    left: 62%;
  }
}
