@font-face {
  src: url(../fonts/T-StarPro-Bold.otf);
  font-family: T-StarPro-Bold;
}

@font-face {
  src: url(../fonts/T-StarPro-Heavy.otf);
  font-family: T-StarPro-Heavy;
}

@font-face {
  src: url(../fonts/T-StarPro-Medium.otf);
  font-family: T-StarPro-Medium;
}

@font-face {
  src: url(../fonts/T-StarPro.otf);
  font-family: T-StarPro;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #FAFAFA;
  height: 4000px;
  /*background-image: url(../materials/bg.png);*/
  background-size: contain;
  background-repeat: no-repeat;

}

.s1 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
}

.s1>.text {
  margin: auto;
  margin-top: calc(50vh - 85px);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 900px;
  height: 170px;
}

.arrow {
  position: absolute;
  width: 100vw;
  height: 50px;
  top: calc(100vh - 80px);
  background-image: url(../materials/arrow2.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 9;
  display: none;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounce {
  animation: bounce 2s infinite ease;
}

.spic1 {
  width: 100vw;
  height: 1000px;
  /*background-color: red;*/
  position: absolute;
  top: 100vh;
}

.picture {
  width: 200px;
  height: 300px;
  /*background-color: yellow;*/
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0 5px 15px -5px #636363;
}

.pic1 {top: 100px; left: 6% ; background-image: url(../materials/preview/1.png);}
.pic2 {top: 30px;  left: 28%; background-image: url(../materials/preview/2.png);}
.pic3 {top: 120px; left: 54%; background-image: url(../materials/preview/3.png);}
.pic4 {top: 170px; left: 76%; background-image: url(../materials/preview/4.png);}
.pic5 {top: 450px; left: 14%; background-image: url(../materials/preview/5.png);}
.pic6 {top: 500px; left: 36%; background-image: url(../materials/preview/6.png);}
.pic7 {top: 600px; left: 60%; background-image: url(../materials/preview/7.png);}
.pic8 {top: 550px; left: 80%; background-image: url(../materials/preview/8.png);}

.s2 {
  position: absolute;
  top: calc(100vh + 1200px);
  width: 100vw;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.s2 > div {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 1200px;
  height: 170px;
}

.s2text {
  width: 400px;
  /*margin: 0 100px;*/
}

.redslash {
  width: 20px;
  height: 500px;
  transform: rotate(20deg);
  background-color: #B61004;
}

h1 {
  font-size: 180px;
  font-family:  T-StarPro-Bold;
  display: none;
}

h2 {
  font-size: 32px;
  font-family:  T-StarPro-Medium;
  display: none;
}

h3 {
  font-size: 48px;
  font-family:  T-StarPro-Bold;
}

p {
  font-size: 24px;
  font-family:  T-StarPro;
  line-height: 29px;
  margin-top: 10px;
}

.none {
  display: none;
}
